@import url(reset.css);

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 43, 40);
}

.drawing-board {
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: flex-start;
}

.canvas {
  width: 800px;
  height: 800px;
  background-color: white;
  border-radius: 10px;
}

.mode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding-left: 30px;
  width: 300px;
}

.line-width {
  width: 400px;
}

.pallete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-top: 20px;
  padding: 0px 0.5px;
  transition: all 0.2s ease-out;
}

.color {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  appearance: none;
  width: 45px;
  height: 50px;
  z-index: 1;
  border: none;
  background-color: transparent;
}

.color::-webkit-color-swatch {
  border: none;
  border-radius: 25px;
  padding: none;
}

.color-set {
  width: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: scale(0);
  transition: all 0.3s ease-out;
}

.pallete:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.pallete:hover .color-set {
  width: 250px;
  padding: 0px 7px;

  transform: scale(1);
}

.color-pick {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin: 0px 5px;
  transition: all 0.3s ease-out;
}

.mode button,
.mode label {
  all: unset;
  outline: none;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.75);
  font-size: 22px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
  transition: all 0.1s ease-out;
}

.mode label {
  justify-content: flex-start;
  width: fit-content;
  padding: 0px 14px;
  transition: all 0.2s ease-out;
}

.mode button:hover,
.mode label:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.mode label:nth-of-type(2) {
  padding-right: 7.75px;
}

.mode label:nth-of-type(1) {
  padding-right: 10px;
}

.mode label input {
  width: 0px;
  visibility: hidden;
  transform: scale(0);
  transition: all 0.2s ease-out;
}

.mode label:hover input {
  transform: scale(1);
  visibility: visible;
  width: 250px;
  margin-left: 14px;
}

.mode button:active {
  transform: scale(0.9);
}

.mode-btn i {
  position: absolute;
  transition: all 0.1s ease-in-out;
  z-index: 0;
}

.fa-font {
  margin-left: 1px;
}

.mode-btn i:nth-child(2) {
  opacity: 0;
}
